
#profile {
  background-color: blueviolet;
  padding-bottom: 50px;
}
#profile h1 {
  color: chartreuse;
  text-align: center;
}
#profile img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  padding-right: 50px;
}
#inspirationalquote {
  background-color: chartreuse;
  font-size: 150%;
  margin: left 200px;px;
  margin-bottom: 300px;
  padding-left: 50px;
}

#table {
  padding-right: 500px;
  background-color: darkgoldenrod;
  border-style: solid;
  margin-right: 700px;
  
 
  max-resolution: left 50px;
}

#Hobbies {
  background-color: darkorange;
  
}

#I {
  background-color: darkgreen;
}

#Funnystory {
  background-color: yellow;
}

#connect {
  background-color: darkslateblue;
}
